body,
html {
  height: 100%;
  background-image: url("https://ucarecdn.com/270622e8-3009-4eb2-b2f1-a1f392ac57ea/CryptoBurgersBackground37x.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.down {
  position: absolute;
  bottom: 0;
}